<template>
  <div id="app">
    <nprogress-container></nprogress-container>
    <navbar :show="true"></navbar>
    <sidebar :show="sidebar.opened && !sidebar.hidden"></sidebar>
    <app-main></app-main>
    <!-- <footer-bar></footer-bar> -->
  </div>
</template>

<script>
import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
import { Navbar, Sidebar, AppMain, FooterBar } from 'components/layout/'
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'

export default {
  components: {
    Navbar,
    Sidebar,
    AppMain,
    FooterBar,
    NprogressContainer
  },

  beforeMount () {
    const { body } = document
    const WIDTH = 768
    const RATIO = 3

    const handler = () => {
      if (!document.hidden) {
        let rect = body.getBoundingClientRect()
        let isMobile = rect.width - RATIO < WIDTH
        this.toggleDevice(isMobile ? 'mobile' : 'other')
        this.toggleSidebar({
          opened: !isMobile
        })
      }
    }

    document.addEventListener('visibilitychange', handler)
    window.addEventListener('DOMContentLoaded', handler)
    window.addEventListener('resize', handler)
  },

  mounted () {
    this.checkLogin()
  },

  computed: mapGetters({
    sidebar: 'sidebar',
    apiBase: 'apiBase'
  }),

  methods: {
    ...mapActions([
      'toggleDevice',
      'toggleSidebar',
      'checkLogin',
      'setAuthToken',
      'setUsername'
    ]),
    checkLogin () {
      console.log('checking localstorage auth token')
      // retrieve auth token from localStorage
      let authToken = window.localStorage.getItem('authToken')
      // if we found a token, check the web service to see if it's still valid
      if (authToken && authToken !== null) {
        console.log('auth token found in localStorage')
        console.log('getting user info from API')
        axios.get(`${this.apiBase}/user`, {
          headers: {
            'X-Auth-Token': authToken
          }
        })
        .then(response => {
          console.log(response)
          if (response.status >= 200 && response.status < 300) {
            console.log('server said auth token is valid. storing it in state.')
            this.setAuthToken(authToken)
            this.setUsername(response.data.user)
          } else {
            console.log('server said auth token is invalid? removing it from state and localStorage.')
            // bad token - forget it
            this.setAuthToken(null)
            // remove username from localStorage and state
            this.setUsername(null)
            // forward user to login page
            console.log('forwarding logged-out user to login page')
            this.$router.push('Login')
          }
        })
        .catch(error => {
          // server error? do nothing for now...
          console.log(error)
          // forward user to login page
          this.$router.push('Login')
        })
      } else {
        console.log('auth token not found. forwarding to login page.')
        // forward user to login page
        this.$router.push('Login')
      }
    }
  }
}
</script>

<style lang="scss">
@import '~animate.css';
.animated {
  animation-duration: .377s;
}

@import '~bulma';

@import '~wysiwyg.css/wysiwyg.sass';

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

html {
  background-color: whitesmoke;
}

.nprogress-container {
  position: fixed !important;
  width: 100%;
  height: 50px;
  z-index: 2048;
  pointer-events: none;

  #nprogress {
    $color: #48e79a;

    .bar {
      background: $color;
    }
    .peg {
      box-shadow: 0 0 10px $color, 0 0 5px $color;
    }

    .spinner-icon {
      border-top-color: $color;
      border-left-color: $color;
    }
  }
}
</style>
