<template>
  <div class="content has-text-centered">
    <h1 class="is-title is-bold">Login</h1>

    <div class="columns is-vcentered">
      <div class="column is-6 is-offset-3">
        <div class="box">
          <div v-show="error" style="color:red; word-wrap:break-word;">{{ error }}</div>
          <form v-on:submit.prevent="login">
            <label class="label">Username</label>
            <p class="control">
              <input v-model="username" class="input" type="text" placeholder="username">
            </p>
            <label class="label">Password</label>
            <p class="control">
              <input v-model="password" class="input" type="password" placeholder="password">
            </p>

            <!-- <p class="control">
            <label class="checkbox">
            <input type="checkbox" v-model="data.rememberMe">
            Remember me
          </label>
        </p> -->

        <hr>
        <p class="control">
          <button type="submit" class="button is-primary">Login</button>
          <button class="button is-default">Cancel</button>
        </p>
      </form>
    </div>
  </div>
</div>
</div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'

export default {

  data () {
    return {
      username: null,
      password: null,
      error: null
    }
  },
  computed: mapGetters({
    apiBase: 'apiBase',
    authenticated: 'authenticated'
  }),
  activated () {
    if (this.authenticated) {
      // forward user to login page
      this.$router.push('Finesse-Layout-Manager')
    }
  },
  methods: {
    ...mapActions({
      setUsername: 'setUsername',
      setAuthToken: 'setAuthToken'
    }),
    login () {
      // store a local copy of user/pass
      let user = this.username
      let pass = this.password
      // try login request
      axios.post(`${this.apiBase}/auth/login`, {
        user,
        pass
      })
      .then(response => {
        console.log(response)
        // if successful
        if (response.status >= 200 && response.status < 300) {
          // store auth token in localStorage and state
          window.localStorage.setItem('authToken', response.data.token)
          this.setAuthToken(response.data.token)

          // store username in localStorage and state
          window.localStorage.setItem('username', user)
          this.setUsername(user)

          // go to the home page
          this.$router.push('Finesse-Layout-Manager')
        }
      })
      .catch(error => {
        console.log(error)
        // display error to user in UI login form
        this.error = error
      })
    }
  },
  watch: {
    authenticated (val, oldVal) {
      // did user just login?
      if (val === true && oldVal === false) {
        // go to the home page
        this.$router.push('Finesse-Layout-Manager')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
</style>
