<template>
  <div>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-4 is-vertical">
        <article class="tile is-child box">
          <h1 class="title is-5">Team Layouts</h1>
          <div class="block">
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label">Team</label>
              </div>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="selected.team">
                    <option value="null" disabled selected>{{ teamPlaceholder }}</option>
                    <option v-for="team in teams" :value="team.id">{{team.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label"></label>
              </div>
              <div class="control">
                <div class="block">
                  <button class="button is-primary" @click.prevent="loadTeamLayout" :disabled="selected.team === null">Load</button>
                  <button class="button is-success" @click.prevent="saveTeamLayout">Save</button>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="tile is-child box brace-container">
          <div class="control is-horizontal">
            <div class="control-label">
              <label class="label">Use Default</label>
            </div>
            <div class="control" style="margin-top: 10px;">
              <label class="label">
                <!-- <vb-switch :checked="useDefault" type="success"></vb-switch> -->
                <vb-switch type="success" size="large" :checked="useDefault" v-model="useDefault"></vb-switch>
              </label>
            </div>
          </div>
        </article>
        <article class="tile is-child box">
          <h1 class="title is-5">Stored Layouts</h1>
          <div class="block">
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label">Layout</label>
              </div>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="selected.saves">
                    <option v-for="save in saves" :value="save.name">{{save.caption}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label"></label>
              </div>
              <div class="control">
                <div class="block">
                  <button class="button is-primary" @click.prevent="loadStoredLayout" :disabled="selected.storedLayout === null">Load</button>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="tile is-child box">
          <h1 class="title is-5">Editor Options</h1>
          <div class="block">
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label">Themes</label>
              </div>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="selected.theme">
                    <option v-for="theme in themes" :value="theme.name">{{theme.caption}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label">Font Size</label>
              </div>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="selected.fontsize">
                    <option v-for="fsize in fontsize" :value="fsize">{{fsize}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label">Code Folding</label>
              </div>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="selected.codefolding">
                    <option v-for="cfolding in codefolding" :value="cfolding">{{cfolding}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label">Soft Wrap</label>
              </div>
              <div class="control">
                <div class="select is-fullwidth">
                  <select v-model="selected.softwrap">
                    <option v-for="swrap in softwrap" :value="swrap">{{swrap}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="control is-horizontal">
              <div class="control-label">
                <label class="label">Highlight Line</label>
              </div>
              <div class="control" style="margin-top: 10px;">
                <label class="radio">
                  <input type="radio" value="true" v-model="selected.highlightline">
                  Yes
                </label>
                <label class="radio">
                  <input type="radio" value="false" v-model="selected.highlightline">
                  No
                </label>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-8 is-vertical">
        <article class="tile is-child box brace-container">
          <brace
          style="min-height: 500px; min-width: 100%;"
          :fontsize="selected.fontsize"
          :theme="selected.theme"
          :mode="selected.mode"
          :codefolding="selected.codefolding"
          :softwrap="selected.softwrap"
          :selectionstyle="selected.selectionstyle"
          :highlightline="selected.highlightline === 'true'"
          @code-change="oncodeChange"></brace>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import Brace from 'vue-bulma-brace'
// this is just an example. you don't want to import those things.
import * as brace from 'brace'
// import 'brace/ext/modelist'
import 'brace/ext/themelist'
import 'brace/ext/beautify'
import axios from 'axios'
import { mapGetters } from 'vuex'
import Vue from 'vue'
import Notification from 'vue-bulma-notification'
import VbSwitch from 'vue-bulma-switch'
// import xml2js from 'xml2js'

// const modelist = brace.acequire('ace/ext/modelist')
const themelist = brace.acequire('ace/ext/themelist')
const beautify = brace.acequire('ace/ext/beautify')
const NotificationComponent = Vue.extend(Notification)
const openNotification = (propsData = {
  title: '',
  message: '',
  type: '',
  direction: '',
  duration: 4500,
  container: '.notifications'
}) => {
  return new NotificationComponent({
    el: document.createElement('div'),
    propsData
  })
}

export default {
  components: {
    Brace,
    Notification,
    VbSwitch
  },

  data () {
    return {
      isloading: false,
      editor: null,
      layoutxml: 'Choose a Team from the list, then click Load',
      useDefault: false,
      storedLayoutName: '',
      // modes: modelist.modes,
      teams: [],
      saves: [],
      themes: themelist.themes,
      fontsize: ['12px', '13px', '14px', '16px', '18px', '20px', '22px', '24px'],
      codefolding: ['manual', 'markbegin', 'markbeginend'],
      softwrap: ['off', '50', 'free'],
      selected: {
        mode: 'xml',
        theme: 'chrome',
        fontsize: '12px',
        codefolding: 'markbegin',
        softwrap: 'free',
        selectionstyle: 'text',
        highlightline: 'true',
        team: null,
        storedLayout: null
      }
    }
  },

  mounted () {
    if (this.authenticated) {
      // load teams from Finesse API
      this.loadTeams()
    }
    // prime the Brace output
    this.updateCode(this.layoutxml)
  },

  methods: {
    loadTeams () {
      this.isloading = true
      console.log('loading teams for user ' + this.username + '...')
      // load teams
      axios.get(`${this.apiBase}/team`, {
        headers: {
          'X-Auth-Token': this.authToken
        }
      })
      .then((response) => {
        console.log('response:', response)
        this.teams = response.data
        this.isloading = false
        openNotification({
          title: 'Teams Loaded',
          message: 'Finesse Team list loaded successfully.',
          type: 'success'
        })
      }).catch((error) => {
        console.log('axios error: ', error)
        openNotification({
          title: `Failed to load Team list from Finesse.`,
          message: error.response.data,
          type: 'danger',
          duration: 0
        })
      })
    },
    oncodeChange (code) {
      this.layoutxml = code
      // turn off use default because user
      this.useDefault = false
    },
    loadTeamLayout () {
      this.isloading = true
      // keep a local copy of this var so if the user changes the dropdown again
      // while loading, it doesn't affect the notification message
      var teamId = this.selected.team
      var team = this.teams.find((v) => {
        return v.id === teamId
      })
      // load layout
      axios.get(`${this.apiBase}/team/${team.id}/layout`)
      .then(response => {
        console.log('team layout loaded. response:', response)
        this.updateCode(response.data.TeamLayoutConfig.layoutxml)
        this.useDefault = (response.data.TeamLayoutConfig.useDefault === 'true')
        // console.log('setting useDefault to false')
        // this.useDefault = false
        this.isloading = false
        openNotification({
          title: `Team '${team.name} (${team.id})' layout loaded.`,
          message: '',
          type: 'success'
        })
      }).catch((error) => {
        this.isloading = false
        console.log(error)
        openNotification({
          title: `Failed to load Team '${team.name} (${team.id})' layout.`,
          message: error.body || error,
          type: 'danger',
          duration: 0
        })
      })
    },
    saveTeamLayout () {
      console.log('saving layout...')
      console.log('making the layout pretty first...')
      var oldCode = this.getEditorValue()
      this.beautifyCode()
      // keep a local copy of this var so if the user changes the dropdown again
      // while loading, it doesn't affect the notification message
      var teamId = this.selected.team
      var team = this.teams.find((v) => {
        return v.id === teamId
      })
      var loadTeamLayout = this.loadTeamLayout
      // var getErrorMessage = this.getErrorMessage

      axios.put(`${this.apiBase}/team/${team.id}/layout`, {
        TeamLayoutConfig: {
          layoutxml: this.getEditorValue(),
          useDefault: this.useDefault
        }
      })
      .then(function (response) {
        console.log(response.status >= 200 && response.status < 300)
        openNotification({
          title: `Team '${team.name} (${team.id})' layout saved.`,
          message: ``,
          type: 'success'
        })
        loadTeamLayout()
      })
      .catch(error => {
        // console.log('axios error: ', JSON.stringify(error))
        openNotification({
          title: `Team '${team.name} (${team.id})' layout not saved.`,
          message: error.response.data.body,
          type: 'danger',
          duration: 0
        })
        // reset editor back to what the user was working on
        this.updateCode(oldCode)
      })
    },
    loadStoredLayout () {
      this.isloading = true
      // load layout
      axios.get(`${this.apiBase}/stored/layout/${this.selected.storedLayout}`)
      .then((response) => {
        console.log('stored layout loaded. response:', response)
        this.updateCode(response.data.TeamLayoutConfig.layoutxml)
        this.isloading = false
      }).catch((error) => {
        console.log(error)
      })
    },
    saveStoredLayout () {
      console.log('storing layout...')
      axios.put(`${this.apiBase}/stored/layout/${this.storedLayoutName}`, {
        TeamLayoutConfig: {
          layoutxml: this.layoutxml,
          useDefault: false
        }
      })
      .then(function (response) {
        console.log(response)
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    updateCode (data) {
      this.editor = brace.edit('vue-bulma-editor')
      this.editor.session.setValue(data)
    },
    getEditorValue () {
      this.editor = brace.edit('vue-bulma-editor')
      return this.editor.session.getValue()
    },
    beautifyCode () {
      this.editor = brace.edit('vue-bulma-editor')
      beautify.beautify(this.editor.session)
    },
    // },
    //
    // watch: {
    //   layoutxml (val, oldVal) {
    //     this.updateCode(val)
    //   }
    getErrorMessage (error) {
      if (error.response.data.body) {
        return error.response.body
        // xml2js.parseString(error.response.data.body, {}, (err, json) => {
        //   if (err) {
        //     return 'Error ' + error.response.data.body
        //   } else {
        //     return 'Error ' + error.response.data.statusCode + ' - ' + json.ApiErrors.ErrorType + ' - ' + json.ApiErrors.ErrorMessage
        //   }
        // })
      } else {
        return error.response.data
      }
    }
  },
  computed: {
    ...mapGetters({
      apiBase: 'apiBase',
      username: 'username',
      authenticated: 'authenticated',
      authToken: 'authToken'
    }),
    teamPlaceholder () {
      if (this.authenticated) {
        if (this.isLoading) {
          return 'Loading...'
        } else {
          return 'Choose a Team...'
        }
      } else {
        return 'Please Log In'
      }
    }
  },
  watch: {
    authenticated (val, oldVal) {
      // did user just login?
      if (val === true && oldVal === false) {
        // refresh
        this.loadTeams()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.control-label {
  min-width: 100px;
}
.brace-container {
  display: flex;
}
</style>
