<template>
  <div>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-8 is-vertical">
        <article class="tile is-child box brace-container">
          <brace
          style="min-height: 200px; min-width: 100%;"
          :fontsize="this.selected.fontsize"
          :theme="this.selected.theme"
          :mode="this.selected.mode"
          :codefolding="this.selected.codefolding"
          :softwrap="this.selected.softwrap"
          :selectionstyle="this.selected.selectionstyle"
          :highlightline="this.selected.highlightline === 'true'"
          @code-change="oncodeChange"></brace>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import Brace from 'vue-bulma-brace'
// this is just an example. you don't want to import those things.
import * as brace from 'brace'
import 'brace/ext/modelist'
import 'brace/ext/themelist'
// import axios from 'axios'
const modelist = brace.acequire('ace/ext/modelist')
const themelist = brace.acequire('ace/ext/themelist')

export default {
  components: {
    Brace
  },

  data () {
    return {
      isloading: false,
      editor: null,
      layoutxml: '',
      useDefault: false,
      storedLayoutName: '',
      modes: modelist.modes,
      teams: [],
      saves: [],
      themes: themelist.themes,
      fontsize: ['12px', '13px', '14px', '16px', '18px', '20px', '22px', '24px'],
      codefolding: ['manual', 'markbegin', 'markbeginend'],
      softwrap: ['off', '50', 'free'],
      selected: {
        mode: 'xml',
        theme: 'chrome',
        fontsize: '12px',
        codefolding: 'markbegin',
        softwrap: 'free',
        selectionstyle: 'text',
        highlightline: 'true',
        team: null,
        storedLayout: null
      }
    }
  },
  mounted () {
    let xml = `<tab>
  <id>Tropo</id>
  <label>SMS</label>
  <gadgets>
    <gadget>/3rdpartygadget/files/tropo/agentTropoGadget.xml</gadget>
  </gadgets>
</tab>`
    // prime the Brace output
    this.updateCode(xml)
  },
  methods: {
    updateCode (data) {
      this.editor = brace.edit('vue-bulma-editor')
      this.editor.session.setValue(data)
    }
  }
}
</script>

<style lang="scss" scoped>
.control-label {
  min-width: 100px;
}
.brace-container {
  display: flex;
}
</style>
